<h1>New Resource</h1>

<%= render "form" %>

<div class="spacer relative"></div>

  <div class="my-5 back-btn">
  <%= link_to "Return To Your Dashboard", root_path, class: "orange-btn px-5" %>
  </div>