
<footer class="footer mt-auto py-3  text-secondary ">
    <div class="container d-flex flex-column justify-content-center align-items-center h-100">
     <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand", id: "logo-footer" %>
        <p class=" p-1 mb-0 ">Copyright © <%= link_to "Schappert Associates Ltd.", "https://schappert-associates.com/", target: "blank" %></p>
         
    </div>
</footer>


